<template>
<div id="content">
    <section class="projects-section bg-light" id="Main">
        <router-view/>
    </section>
</div>

</template>

<script>
    import {mapGetters ,mapActions} from 'vuex'
    export default {
        name:'Main',
        computed:{
            ...mapGetters({
                authenticated:'auth/authenticated',
                user:'auth/user',
            })
        },
       
    }
</script>

<style>
    @import '../css/Styles';
</style>








<!--

<template>
    <div id="myapp">
        <div id="nav">
            
            <div v-else>
                <router-link to="/Dashboard"></router-link>
                <router-link to="/Dashboard" ><b>{{user.name}}</b>  </router-link>
                 router-link to="/">Principal| </router-link> 
                <a href="#" @click.prevent="logout">Cerrar Session</a>
                
            </div>
        </div>
        
    </div>
</template>




