<template >
    <div class="d-flex" >
        <div id="sidebar-container" class="bg-primary">
            <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold">Mananger Document</h4>
            </div>
            <div class="menu">
                <router-link to="/User_profile"  class="d-block p-3 text-light"><i class="icon ion-md-person mr-2 lead"></i>Perfil</router-link>                                  
                <router-link to="/Usuarios"  class="d-block p-3 text-light"><i class="icon ion-md-people mr-2 lead"></i>Usuarios</router-link>
                <router-link to="/Estadistica"  class="d-block p-3 text-light"><i class="icon ion-md-stats mr-2 lead"></i>Estadistica</router-link>
                <router-link to="/Maps"  class="d-block p-3 text-light"><i class="icon ion-md-locate mr-2 lead"></i>Ubicación</router-link>
                <router-link to="/Registro"  class="d-block p-3 text-light"><i class="icon ion-md-document mr-2 lead"></i>Registro</router-link>                  
            </div>
        </div>
        </div>
        <div class="w-100">
            <Nav/>            
            <div id="content">
                <section class="py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="font-weight-bold mb-0">Bienvenido {{user.name}}</h1>
                                <p class="lead text-muted">Revisa la ultima informacion</p>
                            </div>
                        </div>
                    </div>
                </section>
                <Cuadros/>
                <Inicios/>
            </div>
        </div>
    </div>
</template>
<script>
    import Nav from '../components/Nav'
    import {mapGetters ,mapActions} from 'vuex'
    import Cuadros from '../components/Cuadros'
    import Inicios from '../components/Inicios'
    import Sidebar from '../components/Sidebar'
    export default {
        name:'Dashboard',
        components:{
            Nav,
            Cuadros,
            Inicios,
            Sidebar,
        },
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            },
            ...mapActions({
            signOut:'auth/signOut',
        }),
        async logout(){
            await this.signOut()
            this.$router.replace({name:'home'})
        }

            
        },
        computed:{
            ...mapGetters({
            authenticated:'auth/authenticated',
            user:'auth/user',
        })
    },

    }
</script>
<style scoped>

    @import '/resources/css/Exper';
</style>