<template >
    <div class="d-flex">
        <Sidebar/>
        <div class="w-100">
            <Nav/>
            <div class="content">
                <section class="py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="font-weight-bold mb-0">Estadistica</h1>
                                <p class="lead text-muted">Cantidad De Las Documentos</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="bg-mix">
                <div class="container">
                    <div class="card rounded-0 container m-1">
                        <div class="row">
                            <h4 id="btn" class="row m-0 justify-content-center">Lista de las Areas</h4>
            
                            <div class="col-xl-3 col-lg-6 mt-3 ">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Civil</h5>
                                                <span class="h2 font-weight-bold mb-0">78</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="icon icon-shape bg-danger text-white rounded shadow">
                                                    <i class="fas fa-chart-bar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-3 mb-0 text-muted text-sm">
                                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                            <span class="text-nowrap">Total de Registros</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
            <div class="col-xl-3 col-lg-6 mt-3">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Arquitectura</h5>
                                <span class="h2 font-weight-bold mb-0">45</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-warning text-white rounded shadow">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-danger mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mt-3">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Mecanica</h5>
                                <span class="h2 font-weight-bold mb-0">24</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-secondary  text-black rounded shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mt-3">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Electrica</h5>
                                <span class="h2 font-weight-bold mb-0">198</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-info text-white rounded shadow">
                                    <i class="fas fa-percent"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mt-3">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Control e Instruccion</h5>
                                <span class="h2 font-weight-bold mb-0">78</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-primary text-white rounded shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mt-3">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total</h5>
                                <span class="h2 font-weight-bold mb-0">2456</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-success text-dark rounded shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total</span>
                        </p>
                    </div>
                </div>
            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
    import Sidebar from '../components/Sidebar'
    import Nav from '../components/Nav'
    import axios from 'axios'
    import {mapGetters ,mapActions} from 'vuex'
    export default {
    name:'Estadistica',
    methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            }
        },
        components:{
            Sidebar,
            Nav,
        },
    }
</script>

<style scoped>


</style>


<!--<template>
  <div class="container px-5 py-24 mx-auto">
      <div class="container px-5 py-24 mx-auto">
          <h1>Consultar Total De Registro</h1>
          <br>
          <h3>Seleccionar Contrato:</h3><br>
          <form ction="#" @submit.prevent = "submit" id="display" >
              <select name="" >
                    <option value="" disabled="disabled">Seleccionar</option>
                    <option value="">Civil</option>
                    <option value="">Electrica</option>
                    <option value="">Mecanica</option>
                    <option value="">Control e Instruccion</option>
                    <option value="">Arquitectura</option>
                    <option value="">Total</option>
                </select>
                <label for="">
                    <a href="#" @click.prevent="logout" id="btn">VER</a>
                    <img src="https://previews.123rf.com/images/frender/frender1609/frender160903341/62848902-carpeta-o-archivo-de-la-b%C3%BAsqueda-ilustraci%C3%B3n-3d-aislada-en-el-fondo-blanco.jpg" alt="" id="image">
                </label>
          </form>
      </div><br><br>
      <form action="#" @submit.prevent = "submit">
            <div>
                <router-link to="/Dashboard" id="btn">VOLVER AL MENU </router-link>
                <a href="#" @click.prevent="logout" id="btn">BUSCAR</a>                    
                <router-link to="/Dashboard" id="btn">SALIR</router-link>
            </div>
        </form>
      

    <center>  
      <div class="card text-white bg-dark m-3" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h3>aqui especialidad</h3>
        </div>
      </div>
    </center>

    

  </div>
</template>

<script>
export default {
    name:'Estadistica',
   
    
    
}
</script>

<style>

#image{
    width: 200px;
    height: auto;
}
h1,h3{
    text-align: center;
}
  @import '/resources/css/SignIn';
</style>


<template>
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8 container">
<div class="container-fluid">
    <div class="alert alert-danger" role="alert">
        <strong>Especialidades</strong>
      </div>
    <div class="header-body">
        
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Civil</h5>
                                <span class="h2 font-weight-bold mb-0">78</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 ">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Arquitectura</h5>
                                <span class="h2 font-weight-bold mb-0">45</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-warning text-white rounded shadow">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-danger mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Mecanica</h5>
                                <span class="h2 font-weight-bold mb-0">24</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-secondary  text-black rounded shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Electrica</h5>
                                <span class="h2 font-weight-bold mb-0">198</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-info text-white rounded shadow">
                                    <i class="fas fa-percent"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Control e Instruccion</h5>
                                <span class="h2 font-weight-bold mb-0">78</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-primary text-white rounded shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total de Registros</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total</h5>
                                <span class="h2 font-weight-bold mb-0">2456</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-success text-dark rounded shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-up"></i></span>
                            <span class="text-nowrap">Total</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</template>


<script>
export default {
    name:'Estadistica',
   
    
    
}
</script>
