<template>
    <section  class="contact-box" >
       <div class="row no-gutters bg-dark">
           <div class="col-xl-5 col-lg-12 register-bg">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">La siguiente revolución digital.</h3>
                <p class="lead text-light">La nueva etapa de la revolución digital se aproxima.</p>
            </div>
           </div>
           <div class="col-xl-7 col-lg-12 d-flex">
                <div class="container align-self-center p-6">
                    <h1 class="font-weight-bold mb-3 text-white mb-5">Crea tu cuenta gratis</h1>
                    <form class="text-center">
                        <div v-if="!authenticated">
                            <router-link to="/signin" class="btn btn-primary width-100 mb-5">  Inicio de Sesion </router-link> <br>
                            <router-link to="/signup" class="btn btn-primary width-100 ">Registrarse </router-link>
                        </div>
                        <div v-else>
                            <router-link to="/Dashboard"></router-link>
                        </div>                     
                    </form>
                    <small class="d-inline-block text-muted mt-5">Derechos reservados | © 2019 @gmail.com</small>
                </div>
           </div>
       </div>
   </section>
 


</template>

<script>
    import {mapGetters ,mapActions} from 'vuex'
    export default {
        name:'Home',
        computed:{
            ...mapGetters({
                authenticated:'auth/authenticated',
                user:'auth/user',
            })
        },
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'Home'})
            }
        }
    }
    
</script>

<style scoped>
    @import '/resources/css/Home';
</style>
