<template >
    <div class="d-flex" >
        <div id="sidebar-container" class="bg-primary">
            <Sidebar/>
        </div>
        <div class="w-100">
            <Nav/>            
            <div id="content">
                <section class="py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="font-weight-bold mb-0">UBicación</h1>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container text-center ">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3759.197373993007!2d-65.767796585642!3d-19.57604303245384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f94de1230028c5%3A0x6347f1a012aff1f!2sAvenida%20P.%20D.%20Murillo%2027-19%2C%20Villa%20Imperial%20de%20Potos%C3%AD!5e0!3m2!1ses!2sbo!4v1614177736498!5m2!1ses!2sbo" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </section>
            </div>
        </div>
    </div>
</template>
<script>
    import Nav from '../components/Nav'
    import {mapGetters ,mapActions} from 'vuex'
    import Sidebar from '../components/Sidebar'
    export default {
        name:'Dashboard',
        components:{
            Nav,
            Sidebar,
        },
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            },
            ...mapActions({
            signOut:'auth/signOut',
        }),
        async logout(){
            await this.signOut()
            this.$router.replace({name:'home'})
        }

            
        },
        computed:{
            ...mapGetters({
            authenticated:'auth/authenticated',
            user:'auth/user',
        })
    },

    }
</script>
<style scoped>
</style>