<template>
    <div class="d-flex">
        <Sidebar/>
        <div class="w-100">
            <Nav/>
            <div id="content">
                <section class="py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="font-weight-bold mb-0">Registro</h1>
                                <p class="lead text-muted">Añade Informacion</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-mix " >
                    <div class="container " >
                        <div class="card rounded-0 container ">
                            

                            <button  @click="abrirModalCrear" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa fa-user-plus"></i>
                                    Nuevo Registro
                            </button>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
    <form   ref="myForm">                                
<div class="modal-body">

  <div class="form-group">
    <label for="contratista">Contratista</label>
    <input type="name" class="form-control" v-model="NuevoRegis.contratista" placeholder="Enter your name">
    <small id="emailHelp"  class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripcion</label>
    <input type="text" class="form-control" v-model="NuevoRegis.descripcion"  placeholder="Descripcion breve...">
  </div>

<div class="form-group mt-2">
    <label for="codigo">Codigo</label>
    <input type="number" class="form-control" v-model="NuevoRegis.codigo" placeholder="code for file...">
  </div>

<div class="container mx-auto bg-white">
    <label for="">Archivo</label><br>
    <input type="file"  name="profile_pic" id="profile_pic">
</div>
  
  

  <div class="form-check mt-3">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  
        </div>
         <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" @click.prevent="crear" v-if="btnCrear">Guardar</button>
        <button type="submit" class="btn btn-primary" @click.prevent="editar" v-if="btnEditar">Editar</button>
      </div>
 </form>
     
    </div>
  </div>
</div>






                                <table class="table table-striped " id="Table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">N°</th>
                                            <th scope="col">Contratista</th>
                                            <th scope="col">descripcion</th>
                                            <th scope="col">Archivo</th>
                                            <th scope="col">codigo</th>
                                            <th scope="col" >Acciones</th>

                                        </tr>
                                    </thead>
                                <tbody>
                                    <tr v-for="x in regis" :key="x.id">
                                        <td scope="row">{{ x.id}}</td>
                                        <td>{{ x.contratista}}</td>
                                        <td>{{ x.descripcion}}</td>
                                        <td><img :src="x.file" width="30" height="50"></td>
                                        <td>{{ x.codigo}}</td>
                                        <td >
                                            <button class="btn btn-primary btn-sm" type="button" @click="abrirModalEditar(x)"><i class="fas fa-edit lead"></i></button>
                                            <button class="btn btn-danger btn-sm" type="button" @click="eliminar(x)"><i class="fas fa-trash lead"></i></button>
                                        </td>
                                        
                                        
                                    </tr> 
                                </tbody>
                            </table>


        
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import datatable  from 'datatables.net-bs4'
    require( 'datatables.net-buttons/js/dataTables.buttons' )
    require( 'datatables.net-buttons/js/buttons.html5' )
    import print from 'datatables.net-buttons/js/buttons.print'
    import jszip from 'jszip/dist/jszip'
    import pdfMake from 'pdfmake/build/pdfmake'
    import pdfFonts from 'pdfmake/build/vfs_fonts'
    pdfMake.vfs=pdfFonts.pdfMake.vfs;
    window.JSZip=jszip;
    import swal from 'sweetalert';
    
    import Sidebar from '../components/Sidebar'
    import Nav from '../components/Nav'
    import {mapGetters ,mapActions} from 'vuex'
    import axios from 'axios'
    export default {
        name:'Registro',
        data(){
            return{
                regis:[],
                NuevoRegis:{
                    contratista:'',
                    descripcion:'',
                    codigo:'',
                    file:''
                },
                
                titulo:'',
                btnCrear:false,
                btnEditar:false,
                idUser:'',
            }
            
        },
        
        components:{
            Sidebar,
            Nav,
        },
        mounted(){
            this.getUser()
        },
        methods:{
            checkForm: function (e) {
                var myFormData = new FormData(this.$refs.myForm)
                axios({
                    method: 'post',
                    url: 'api/save_Photo',
                    data: myFormData,
                    config: { headers: {'Content-Type': 'multipart/form-data' }},
                }).then(function (response) {
                  alert(response.data.message);
                });
                e.preventDefault();
            },


            
            tabla(){
                this.$nextTick(()=>{
                $('#Table').DataTable({
                    "order":[[0,'acs']],
                    dom: "<'row'<'col-sm-12 mt-5 text-center'B><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 text-end font-size-12'f>>" +
                         "<'row'<'col-sm-12'tr>>" +
                         "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            "extend":"excelHtml5",
                            "text":"<i class='fas fa-file-excel mr-2 lead'></i>Excel",
                            "titleAttr":"Esportar a Excel",
                            "className":"btn btn-success",
                        },
                        {
                            "extend":"pdfHtml5",
                            "text":"<i class='fas fa-file-pdf mr-2 lead'></i>PDF",
                            "titleAttr":"Esportar a PDF",
                            "className":"btn btn-danger",
                        },
                        {
                            "extend":"print",
                            "text":"<i class='fas fa-file-cvs mr-2 lead'></i>Imprimir",
                            "titleAttr":"Imprimir archivo",
                            "className":"btn btn-secondary",
                        },
                    ]
                });
            });
            },
            getUser(){
                axios.get('api/bd_register_box').then(res=>{
                this.regis=res.data
                $('#Table').DataTable().destroy()
                this.tabla()
                });
            },
            crear(){
                axios.post('api/bd_register_box/',this.NuevoRegis).then(res=>{
                this.getUser()
                this.checkForm()
                $('#exampleModal').modal('hide')
                swal("felicidades!", "Se añadio un nuevo Registro!", "success");
                }).catch(function(error){
                    var array=Object.values(error.response.data.errors)
                    array.forEach(Element=>swal(String(element)))           
                });
            },
            abrirModalCrear(){
                this.NuevoRegis={ contratista:'', descripcion:'', codigo:'',}
                this.titulo='Añadir registro'
                this.btnCrear=true
                this.btnEditar=false
                $('#modalForm').modal('show')
            },
            abrirModalEditar(datos){
                this.NuevoRegis={ contratista:datos.contratista, descripcion:datos.descripcion, codigo:datos.codigo}
                this.titulo='Editar registro'
                this.btnCrear=false
                this.btnEditar=true
                this.idUser=datos.id
                $('#exampleModal').modal('show')
                },
            editar(){
                axios.put('/api/editar/'+this.idUser,this.NuevoRegis).then(res=>{          
                this.idUser=''
                this.getUser()
                $('#modalForm').modal('hide')
                swal("Felicidades!", "Registro editado correctamente!", "success");
                }).catch(function (error) {
                    var array = Object.values(error.response.data.errors)
                    array.forEach(element => swal(String(element)))
                });
            },
            eliminar(datos){
                swal({
                    title: "estas seguro de eliminar"+" "+ datos.id+"?",
                    text: "se eliminara permanentemente!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        axios.delete('api/eliminar/'+datos.id).then(res=>{          
                        this.getUser()

                        swal("Se elimino correctamente!", {
                        icon: "success",
                    });
                    }).catch(function (error) {
                            var array = Object.values(error.response.data.errors)
                            array.forEach(element => swal(String(element)))
                        });
                        
                    } 
                });
            },

        }
    }
</script>
<style scoped>


</style>











