<!--<template>
    <div class="container">
        <h2>Vue Laravel Image Upload</h2>
        <form @submit="checkForm" ref="myForm">
        <div class="form-group">
            <label for="email">Upload Profile Pic:</label>
            <input type="file" name="profile_pic" id="profile_pic">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</template>
<script>
    export default {
        methods:{
            checkForm: function (e) {
                var myFormData = new FormData(this.$refs.myForm)
                axios({
                    method: 'post',
                    url: 'api/save_Photo',
                    data: myFormData,
                    config: { headers: {'Content-Type': 'multipart/form-data' }},
                }).then(function (response) {
                  alert(response.data.message);
                });
                e.preventDefault();
            }
        },
    }
</script>