<template>

    <section class="contact-box">
       <div class="row no-gutters bg-dark">
           <div class="col-xl-5 col-lg-12 register-bg">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">La siguiente revolución digital.</h3>
                <p class="lead text-light">La nueva etapa de la revolución digital se aproxima.</p>
            </div>
           </div>
           <div class="col-xl-7 col-lg-12 d-flex">
                <div class="container align-self-center p-6">
                    <h1 class="font-weight-bold mb-5 text-white">Crea tu cuenta gratis</h1>
                    
                    <p class="text-muted mb-5">Ingresa la siguiente información para registrarte.</p>

                    <form action="#" @submit.prevent = "submit">
                        <div class="form-row mb-2">
                            <div class="form-group col-md-6">
                                <label for="name" class="text-white font-weight-bold">Nombre <span class="text-danger">*</span></label>
                                <input type="text" name="name" class="form-control"  v-model="form.name" placeholder="Tu nombre">
                            </div>
                            <!--<div class="form-group col-md-6">
                                <label for="number" class="text-white font-weight-bold">Tel.-Cel. <span class="text-danger">*</span></label>
                                <input type="number" v-model="form.number" name="number" class="form-control" placeholder="Ingresa tu numero Telf:">
                            </div>-->
                        </div>
                        <div class="form-group mb-3">
                            <label for="email" class="text-white font-weight-bold"> Correo electronico <span class="text-danger">*</span></label>
                            <input type="text" name="email" v-model="form.email" class="form-control" placeholder="Ingresa tu email">
                        </div>
                        
                        <div class="form-group mb-3">
                            <label for="password" class="text-white font-weight-bold"> Contraseña <span class="text-danger">*</span></label>
                            <input type="text" name="password" v-model="form.password" class="form-control" placeholder="Ingresa tu Contraseña">
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="text-white font-weight-bold">Confirmar Contraseña <span class="text-danger">*</span></label>
                            <input type="text" name="password_confirmation" v-model="form.password_confirmation" class="form-control" placeholder="Confirmar Contraseña">
                        </div>
                        <div class="form-group mb-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label text-muted">Al seleccionar esta casilla aceptas nuestro aviso de privacidad y los términos y condiciones</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary width-100">Regístrate</button>
                        <p class="text-muted mb-3 mt-3">Si ya tienes una cuenta has clic debajo</p>
                        <router-link to="/signIn" class="btn btn-primary width-100 ">Iniciar Sesion </router-link>
                    </form>
                    <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2019 Templune</small>
                </div>
           </div>
       </div>
   </section>

</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>
<style>
    @import '/resources/css/SignIn';
</style>


                    

