<template>

    <section class="contact-box">
       <div class="row no-gutters bg-dark">
           <div class="col-xl-5 col-lg-12 register-bg">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">La siguiente revolución digital.</h3>
                <p class="lead text-light">La nueva etapa de la revolución digital se aproxima.</p>
            </div>
           </div>
           <div class="col-xl-7 col-lg-12 d-flex">
                <div class="container align-self-center p-6">
                    <h1 class="font-weight-bold mb-5 text-white">Ininiar Sesión</h1>

                    <p class="text-muted mb-5">Ingresa la siguiente información para Ininiar Sesión.</p>

                    <form action="#" @submit.prevent = "submit">
                        <div class="form-group mb-3">
                            <label for="email" class="font-weight-bold text-white">Correo electrónico <span class="text-danger">*</span></label>
                            <input type="email" name="email" class="form-control" v-model="form.email" placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div  class="form-group mb-3">
                            <label for="password" class="font-weight-bold text-white">Contraseña <span class="text-danger">*</span></label>
                            <input type="text" name="password" class="form-control" v-model="form.password" placeholder="Ingresa una contraseña">
                        </div>
                        <div class="form-group mb-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label text-muted">Al seleccionar esta casilla aceptas nuestro aviso de privacidad y los términos y condiciones</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary width-100">Ininiar Sesión</button>
                        <p class="text-muted mb-3 mt-3">Si aun no tienes una cuenta has clic debajo</p>
                        <router-link to="/signup" class="btn btn-primary width-100 ">Registrarse </router-link>
                    </form>
                    <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2019 Templune</small>
                </div>
           </div>
       </div>
   </section>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:'SignIn',
    data(){
        return {
            form:{
                email:'',
                password:''
            }
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
            console.log('ENVIANDO FORMULARIO')
            console.log(this.form)
            await this.signIn(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>
<style>
    @import '/resources/css/SignIn';
</style>
