<template>
    <div class="d-flex">
        <Sidebar/>
        <div class="w-100">
            <Nav/>
            <div id="content">
                <section class="py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="font-weight-bold mb-0">Perfil</h1>
                                <p class="lead text-muted">Añade Informacion</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-light ">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10 mt-5 pt-5">
                                <div class="row z-depth-3">
                                    <div class="col-sm-4 bg-info rounded-left">
                                        <div class="card-block text-center text-white">
                                            <i class="fas fa-user-tie fa-7x mt-5"></i>
                                            <h2 class="font-weight-bold mt-4">{{user.name}}</h2>
                                            <p>Web Designer</p>
                                            <i class="far fa-edit fa-2x mb-4"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 bg-white rounded-right">
                                        <h3 class="mt-3 text-center">information</h3>
                                        <hr class="badge-primary mot-0 w-25">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="fonr-weight-bold">Email:</p>
                                                <h6 class="text-muted"> nick32@gmail</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="fonr-weight-bold">phone:</p>
                                                <h6 class="text-muted"> +32543454</h6>
                                            </div>
                                        </div>
                                        
                                        <h4 class="mt-3"> Projects</h4>
                                        <hr class="bg-primary">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="fonr-weight-bold">Recent:</p>
                                                <h6 class="text-muted"> School web</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="fonr-weight-bold">Most Viwed</p>
                                                <h6 class="text-muted">Dinoter Husain</h6>
                                            </div>
                                        </div>
                                        <hr class="bg-primary">
                                        <!--<div>
                                            <button>Save</button>
                                            <button>Cancel</button>
                                        </div>-->
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </section>
                      
                    
                
            </div>
        </div>
    </div>
</template>
<script>
  import {mapGetters ,mapActions} from 'vuex'
  import Nav from '../components/Nav'
  import Sidebar from '../components/Sidebar'
  export default {
    name: "User_profile",
    components:{
            Nav,
            Sidebar,
        },
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            },
                ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            }   
        },
        computed:{
            ...mapGetters({
                authenticated:'auth/authenticated',
                user:'auth/user',
            })
    },
  
  };
</script>
<style >
    @import '/resources/css/Profile';
</style>