<template>
    <div class="d-flex">
        <Sidebar/>
        <div class="w-100">
            <Nav/>
            <div id="content">
                <section class="py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="font-weight-bold mb-0">Usuarios</h1>
                                <p class="lead text-muted">Total de Usuarios</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-mix " >
                    <div class="container " >
                        <div class="card rounded-0 container ">
        

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
  <div class="form-group">
    <label for="name">nombre</label>
    <input type="name" class="form-control" v-model="NuevoRegis.name" placeholder="Enter your name">
    <small id="emailHelp"  class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="email" class="form-control" v-model="NuevoRegis.email"  placeholder="email..">
  </div>
  <div class="form-group">
    <label for="numbre">password</label>
    <input type="number" class="form-control" v-model="NuevoRegis.password" placeholder="password...">
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
</form>
        </div>
         <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click.prevent="crear" v-if="btnCrear">Guardar</button>
        <button type="button" class="btn btn-primary" @click.prevent="editar" v-if="btnEditar">Editar</button>

      </div>
    </div>
  </div>
</div>






                                <table class="table table-striped " id="Table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">N°</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Fecha de Registro</th>
                                            <th scope="col" >Acciones</th>

                                        </tr>
                                    </thead>
                                <tbody>
                                    <tr v-for="x in regis" :key="x.id">
                                        <td scope="row">{{ x.id}}</td>
                                        <td>{{ x.name}}</td>
                                        <td>{{ x.email}}</td>
                                        <td>{{ x.password}}</td>
                                        <td >
                                            <button class="btn btn-primary btn-sm" type="button" @click="abrirModalEditar(x)"><i class="icon ion-md-create lead"></i></button>
                                            <button class="btn btn-danger btn-sm" type="button" @click="eliminar(x)"><i class="icon ion-md-trash lead"></i></button>
                                        </td>
                                        
                                        
                                    </tr> 
                                </tbody>
                            </table>


        
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    //datatables
    import datatable  from 'datatables.net-bs4'
    require( 'datatables.net-buttons/js/dataTables.buttons' )
    require( 'datatables.net-buttons/js/buttons.html5' )
    import print from 'datatables.net-buttons/js/buttons.print'
    import jszip from 'jszip/dist/jszip'
    import pdfMake from 'pdfmake/build/pdfmake'
    import pdfFonts from 'pdfmake/build/vfs_fonts'
    pdfMake.vfs=pdfFonts.pdfMake.vfs;
    window.JSZip=jszip;
    import swal from 'sweetalert';

    import Sidebar from '../components/Sidebar'
    import Nav from '../components/Nav'
    import axios from 'axios'
    export default {
        name:'Registro',
        data(){
            return{
                regis:[],
                NuevoRegis:{
                    name:'',
                    email:'',
                    password:'',
                },
                titulo:'',
                btnCrear:false,
                btnEditar:false,
                idUser:''

            }
            
        },
        
        components:{
            Sidebar,
            Nav,
        },
        mounted(){
            this.getUser()
        },
        methods:{
            tabla(){
                this.$nextTick(()=>{
                $('#Table').DataTable({
                    "order":[[0,'acs']],
                    dom: "<'row'<'col-sm-12 mt-5 text-center'B><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6 text-end font-size-12'f>>" +
                         "<'row'<'col-sm-12'tr>>" +
                         "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            "extend":"excelHtml5",
                            "text":"<i class='fas fa-file-excel mr-2 lead'></i>Excel",
                            "titleAttr":"Esportar a Excel",
                            "className":"btn btn-success",
                        },
                        {
                            "extend":"pdfHtml5",
                            "text":"<i class='fas fa-file-pdf mr-2 lead'></i>PDF",
                            "titleAttr":"Esportar a PDF",
                            "className":"btn btn-danger",
                        },
                        {
                            "extend":"print",
                            "text":"<i class='fas fa-file-cvs mr-2 lead'></i>Imprimir",
                            "titleAttr":"Imprimir archivo",
                            "className":"btn btn-secondary",
                        },
                    ]
                });
            });
            },
            getUser(){
                axios.get('api/listar_usuarios').then(res=>{
                this.regis=res.data
                $('#Table').DataTable().destroy()
                this.tabla()
                });
            },
            crear(){
                axios.post('api/crear_usuarios/',this.NuevoRegis).then(res=>{
                this.getUser()
                $('#exampleFrom').modal('hide')
                swal("felicidades!", "Se añadio un nuevo Registro!", "success");
                }).catch(function(error){
                    var array=Object.values(error.response.data.errors)
                    array.forEach(Element=>swal(String(element)))           
                });
            },
            abrirModalCrear(){
                this.NuevoRegis={ name:'', email:'', password:'',}
                this.titulo='Añadir registro'
                this.btnCrear=true
                this.btnEditar=false
                $('#modalForm').modal('show')
            },
            abrirModalEditar(datos){
                this.NuevoRegis={ name:datos.name, email:datos.email, password:datos.password}
                this.titulo='Editar registro'
                this.btnCrear=false
                this.btnEditar=true
                this.idUser=datos.id
                $('#exampleModal').modal('show')
                },
            editar(){
                axios.put('/api/editar_usuarios/'+this.idUser,this.datoUsuario).then(res=>{          
                this.idUser=''
                this.getUser()
                $('#modalForm').modal('hide')
                swal("Felicidades!", "Registro editado correctamente!", "success");
                }).catch(function (error) {
                    var array = Object.values(error.response.data.errors)
                    array.forEach(element => swal(String(element)))
                });
            },
            eliminar(datos){
                swal({
                    title: "estas seguro de eliminar"+" "+ datos.name+"?",
                    text: "se eliminara permanentemente!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        axios.delete('/api/eliminar_usuarios/'+datos.id).then(res=>{          
                        this.getUser()

                        swal("Se elimino correctamente!", {
                        icon: "success",
                    });
                    }).catch(function (error) {
                            var array = Object.values(error.response.data.errors)
                            array.forEach(element => swal(String(element)))
                        });
                        
                    } 
                });
            },

        }
    }
</script>