*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    
}
#inicio{
    width: 100%;
    font-size: 2em;
    background: hsla(244, 86%, 22%, 0.5);
    
    padding: 1em;
    font-family: fantasy;
}
#uno{
    color: white;
    text-decoration: none;
    float: right;
}
#dos{
    color: white;
    text-decoration: none;
    
}
#uno:hover{
    font-weight: bold;
    color: red;  
    transition: all .3s ;
}
#dos:hover{
    font-weight: bold;
    color: red;  
    transition: all .2s ;
}

