:root{
    --primary:#111854;
    --light:#ffffff;
    --grey:#efefef;
}
body{
    overflow: hidden !important;
    font-family: 'Muli','sans-serif';
    font-weight: 300;
    color: var(--primary);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.bg-primary{ background-color: var(--primary) !important;}
.bg-light{ background-color: var(--light) !important;}
.btn-primary{
    background-color: var(--primary);
}
.bg-mix{background: linear-gradient(180deg, var(--light)50%, var(--grey )0);}
.bg-grey{background-color: var(--grey) !important;}
.btn{
    border: 0;
}
.btn-primary:hover{
    background-color: var(--primary);
}

#sidebar-container{
    min-height:100vh;
}
#sidebar-container .logo{
    padding: .875rem 1.25rem;
}
#sidebar-container .menu{
    width: 14rem;
}
.btn-search{
    right:5px;
}
.avatar{
    max-width: 45px;
}
#content{
    overflow-y:auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.stat{
    border-right:1px solid var(--grey) ;
}