*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
@keyframes movimiento{
    from{
        background-position:bottom left;
    }to{
        background-position:top right;
    }
}
body{
    overflow: hidden;
}