*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;   
    height: 100%;}
#formulario{ 
    width: auto;
    background: hsla(90, 3%, 12%, 0.288);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5%;
}
#correo{
    color: white;
    margin: 1em;
    font-weight: bold;
    font-family: 'Helveticah,arial';
    font-size: 20px;
}
#email{
    width: 10em;
    background: #272727;
    color: #bebdbd;
    font-size:20px ;
    border-radius: 6px;
}
#email:focus{
    background: #1a1a1a;
}

#contraseña{
    width: auto;
    font-family: 'Helveticah,arial';
    color: white;
    margin: 1em;
    font-weight: bold;
    font-size: 20px;
}
#password{
    background: #272727;
    color: #bebdbd;
    font-size:20px ;
    border-radius: 6px;
}
#password:focus{
    background: #1a1a1a;
}
#btn{
    margin:1em;
    padding: .5rem 1rem;
    background: #006669;
    color:white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
#btn:hover{
    background: #005255;
    color:white 
}
#nombre{
    color: white;
    margin: 1em;
    font-weight: bold;
    font-family: 'Helveticah,arial';
    font-size: 20px;
}
#name{
    width: 10em;
    background: #272727;
    color: #bebdbd;
    font-size:20px ;
    border-radius: 6px;
}
#confirmar{
    color: white;
    margin: 1em;
    font-weight: bold;
    font-family: 'Helveticah,arial';
    font-size: 20px;
}
#password_confirmation{
    width: 10em;
    background: #272727;
    color: #bebdbd;
    font-size:20px ;
    border-radius: 6px;
}
#dashboard{
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    
}

