<template>
  <section class="bg-mix">
                    <div class="container">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3  d-flex stat my-3">
                                        <div class="mx-auto">
                                            <h6 class="text-muted">ingresos mensuales</h6>
                                            <h3 class="font-weight-bold">$50,000</h3>
                                            <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>50.50%</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3  d-flex stat my-3">
                                        <div class="mx-auto">                                        
                                            <h6 class="text-muted">ingresos mensuales</h6>
                                            <h3 class="font-weight-bold">$50,000</h3>
                                            <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>50.50%</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3  d-flex stat my-3">
                                        <div class="mx-auto">                                        
                                            <h6 class="text-muted">ingresos mensuales</h6>
                                            <h3 class="font-weight-bold">$50,000</h3>
                                            <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>50.50%</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3  d-flex my-3">
                                        <div class="mx-auto">
                                            <h6 class="text-muted">ingresos mensuales</h6>
                                            <h3 class="font-weight-bold">$50,000</h3>
                                            <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>50.50%</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
</template>

<script>
    import {mapGetters ,mapActions} from 'vuex'
    export default {
        name:'Cuadros',
        props:["Cuadros"],
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            }
        },
    }
</script>

<style>

</style>