<template>
    <section  class="bg-grey">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 my-3">
                                <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        <h6 class="font-weight-bold mb-0">Que Desea Hacer</h6>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div id="dashboard" >
                                                <figure id="three">
                                                    <img src="https://comps.canstockphoto.es/carpetas-estad%C3%ADstica-estad%C3%ADsticas-stock-de-ilustraciones_csp44083575.jpg" alt="" id="image">
                                                    <figcaption>
                                                        <form action="#" @submit.prevent = "submit">
                                                            <div>
                                                                <router-link to="/Estadistica" id="btn">Estadistica</router-link>
                                                            </div>
                                                        </form>
                                                    </figcaption>
                                                </figure>
                                                <figure id="two">
                                                    <img src="https://st2.depositphotos.com/40081672/42888/i/1600/depositphotos_428884304-stock-photo-register-written-red-folder-located.jpg" alt="" id="image">
                                                    <figcaption>
                                                        <form action="#" @submit.prevent = "submit">
                                                            <div>
                                                                <router-link to="/Registro" id="btn">Registro</router-link>
                                                            </div>
                                                        </form>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <a href="#" @click.prevent="logout" id="btn" class="row m-0 justify-content-center">Cerrar Session</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
</template>

<script>
    import {mapGetters ,mapActions} from 'vuex'
    export default {
        name:'Inicios',
        props:["Inicios"],
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            }
        },
        
    }
</script>
<style scoped>
#image{
    width: 200px;
    height: auto;
}
    @import '/resources/css/SignIn';
</style>
