<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon ion-md-person"></i>{{user.name}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <router-link to="/User_profile"  class="dropdown-item">Mi perfil</router-link>                                  
                                    <a class="dropdown-item" href="#">Suscripciones</a>
                                    <div class="dropdown-divider"></div>
                                    <a  @click.prevent="logout" class="dropdown-item">Cerrar session</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
</template>

<script>
    import {mapGetters ,mapActions} from 'vuex'
    export default {
        name:'Nav',
        props:["Nav"],
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            },
                ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            }   
        },
        computed:{
        ...mapGetters({
            authenticated:'auth/authenticated',
            user:'auth/user',
        })
    },

    }
</script>

<style>

</style>