<template>
    
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h2 class="text-light font-weight-bold">Mananger Document</h2>
            </div>
            <div class="menu">
                <router-link to="/User_profile"  class="d-block p-3 text-light"><i class="icon ion-md-person mr-2 lead"></i>Perfil</router-link>                  
                <router-link to="/Usuarios"  class="d-block p-3 text-light"><i class="icon ion-md-people mr-2 lead"></i>Usuarios</router-link>
                <router-link to="/Estadistica"  class="d-block p-3 text-light"><i class="icon ion-md-stats mr-2 lead"></i>Estadistica</router-link>
                <router-link to="/Maps"  class="d-block p-3 text-light"><i class="icon ion-md-locate mr-2 lead"></i>Ubicación</router-link>
                <router-link to="/Registro"  class="d-block p-3 text-light"><i class="icon ion-md-document mr-2 lead"></i>Registro</router-link>    

                <router-link to="./Dashboard"  class="d-block p-3 text-light"><i class="icon ion-md-arrow-round-back mr-2 lead"></i>Volver</router-link>
            </div>
        </div>
    
</template>
<script>

    export default {
        name:'Sidebar',
        props:["Sidebar"],
    }
</script>